
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #aeb1a3; /* Default background color */
}

#game-board {
  display: grid;
  grid-template-columns: repeat(20, 20px);
  background-image: url('wallpaper.jpg'); 
  background-size: cover;
}

.cell {
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
}

.snake {
  background-image: url('snake.png'); 
  background-size: cover;
}

.food {
  background-color: red;
}

#score {
  margin-top: 10px;
  font-size: 18px;
}

#status {
  margin-top: 10px;
  font-size: 18px;
}

#controls {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.control-button {
  padding: 15px 20px;
  font-size: 16px;
  margin: 5px;
  border: none;
  background-color: #e44616;
  color: white;
  cursor: pointer;
  
}

.control-button:hover {
  background-color: #b6ee0c;
}




  
